.home-header {
    padding: 0rem 8rem;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(26,26,26);
    background-image: url(/public/assets/home/desktop/image-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.home-headphones {
    width: 100%;
    padding: 6rem 0 10rem 0;
}

.home-text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.home-text .overline {
    padding: 4rem 0 0 0;
    color: rgb(168, 168, 168);
}

.Experience {
    color: rgb(255, 255, 255, 0.7);
    width: 30%;
    padding-bottom: 2rem;
}

@media screen and (max-width: 1170px) {

    .home-header {
        justify-content: center;
        align-items: center;
        padding: 0rem 2rem;
        background-image: none;
    }

    .home-headphones {
        background-image: url(/public/assets/home/tablet/image-header.jpg);
        background-position: center top;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 5rem 0;
    }

    .home-text {
        text-align: center;
        align-items: center;
        padding-bottom: 3rem;
    }

    .home-text .overline {
        padding: 0;
    }

    .Experience {
        width: 40%;
    }
}

@media screen and (max-width: 900px) {
    .Experience {
        width: 50%;
    }
}

@media screen and (max-width: 590px) {

    .home-headphones {
        background-image: url(/public/assets/home/mobile/image-header.jpg);
        background-position: center top;
    }

    .home-text h1 {
        font-size: 2.5rem;
    }

    .Experience {
        width: 60%;
    }
}

@media screen and (max-width: 490px) {

    .home-text h1 {
        font-size: 2rem;
    }

    .Experience {
        width: 80%;
    }
}
