.checkout {
    background-color: rgba(242, 242, 242, 1);
    padding: 4rem 8rem 7rem 8rem;
    display: flex;
}

.checkout-back {
    margin: 0;
    padding: 0 0 2rem 0;
    background-color: rgba(242, 242, 242, 1);
}

.checkout-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.checkout-h3,
.checkout-h6 {
    grid-column: span 2;
}

.checkout-label {
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.checkout-input {
    border: 1px solid rgba(207, 207, 207, 1);
    border-radius: 0.5rem;
    padding: 1rem;
}

.checkout-label-test {
    display: flex;
    justify-content: space-between;
}

.label-test-wrong {
    color: rgba(205, 44, 44, 1);
    font-weight: 200;
    margin: 0;
}

.checkout-input:hover{
    border: 1px solid rgba(216, 125, 74, 1);
    cursor: pointer;
}

.checkout-container {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-width: 50%;
}

.checkout-h3 {
    margin: 0;
}

.checkout-h6 {
    color: rgba(216, 125, 74, 1);
    margin: 1rem 0 0 0;
}

.checkout-label-container {
    display: flex;
    flex-direction: column;
}

.checkout-payment-p {
    color: black;
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
    grid-row: span 2;
}

.checkout-button-text {
    border: 1px solid rgba(207, 207, 207, 1);
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: white;
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.checkout-button-text:hover {
    border: 1px solid rgba(216, 125, 74, 1);
    cursor: pointer;
}

.checkout-button-circle {
    border-radius: 100%;
    border: 1px solid rgba(207, 207, 207, 1);
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout-button-circle-inner {
    border-radius: 100%;
    background-color: rgba(216, 125, 74, 1);
    width: 0.8rem;
    height: 0.8rem;
}

.checkout-options {
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-right: 1rem;
}

.checkout-payment-logo {
    width: 8rem;
    min-width: 3rem;
}

/*SUMMARY*/

.checkout-all {
    width: 100%;
}

.checkout-container-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;    
    flex-wrap: wrap;
}

.summary {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    align-items: center;
    gap: 2rem;
    height: fit-content;
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
    min-width: 18rem;
}

.summary-h6 {
    margin: 0;
    grid-column: span 3;
}

.summary-p {
    margin: 0;
}

.summary-product1 {
    display: flex;
    align-items: center;
    grid-column: span 2;
}

.summary-img {
    width: 4rem;
    margin-right: 1rem;
}

.summary-quantity {
    display: flex;
    justify-content: flex-end;
}

.summary-h7,
.summary-price,
.summary-h7-total {
    font-weight: bold;
}

.summary-total {
    grid-column: span 3;
}

.summary-h7-total {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}

.summary-h7-span {
    color: black;
    font-weight: bold;
}

.summary-grandtotal-price {
    color: rgba(216, 125, 74, 1);
}

.summary-button2 {
    grid-column: span 3;
    width: 100%;
}

@media screen and (max-width: 1000px) {

    .checkout {
        padding: 4rem 2rem 7rem 2rem;
    }
}

@media screen and (max-width: 928px) {

    .checkout {
        padding: 4rem 5rem 7rem 5rem;
    }
    .summary {
        width: 100%;
    }
    .checkout-container {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .checkout {
        padding: 4rem 2rem 7rem 2rem;
    }
}

@media screen and (max-width: 590px) {
    .checkout-form {
        display: flex;
        flex-direction: column;
    }

    .summary {
        min-width: auto;
    }
}

@media screen and (max-width: 380px) {

    .checkout-payment-logo {
        display: none;
    }

    .checkout-container {
        padding: 1rem;
    }
    .summary {
        min-width: auto;
        padding: 1rem;
    }
}