.checkout {
    background-color: rgba(242, 242, 242, 1);
    padding: 4rem 8rem 7rem 8rem;
}

.checkout-back {
    margin: 0;
    padding: 0 0 2rem 0;
    background-color: rgba(242, 242, 242, 1);
}

.checkout-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.checkout-h2,
.checkout-h6 {
    grid-column: span 2;
}

.checkout-label {
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.checkout-input {
    border: 1px solid rgba(207, 207, 207, 1);
    border-radius: 0.5rem;
    padding: 1rem;
}

.checkout-label-test {
    display: flex;
    justify-content: space-between;
}

.label-test-wrong {
    color: rgba(205, 44, 44, 1);
    font-weight: 200;
    margin: 0;
}

.checkout-input:hover{
    border: 1px solid rgba(216, 125, 74, 1);
    cursor: pointer;
}

.checkout-container {
    background-color: white;
    padding: 3rem;
}

.checkout-h2 {
    margin: 0;
}

.checkout-h6 {
    color: rgba(216, 125, 74, 1);
    margin: 2rem 0 0 0;
}

.checkout-label-container {
    display: flex;
    flex-direction: column;
}

.checkout-payment-p {
    color: black;
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
    grid-row: span 2;
}

.checkout-button-text {
    border: 1px solid rgba(207, 207, 207, 1);
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: white;
    margin: 0;
    font-weight: bold;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.checkout-button-text:hover {
    border: 1px solid rgba(216, 125, 74, 1);
    cursor: pointer;
}

.checkout-button-circle {
    border-radius: 100%;
    border: 1px solid rgba(207, 207, 207, 1);
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout-button-circle-inner {
    border-radius: 100%;
    background-color: rgba(216, 125, 74, 1);
    width: 0.8rem;
    height: 0.8rem;
}

.checkout-options {
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-right: 1rem;
}

.checkout-payment-logo {
    width: 8rem;
}