.navbar {
    background-color: rgb(20, 20, 20);
    padding: 0.5rem 8rem;
    border-bottom: 1px solid rgb(151, 151, 151);
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    display: flex;
    gap: 2rem;
    padding: 0;
}

.navbar-nav a,
.tablet-menu a{
    text-decoration: none;
    color: white;
    letter-spacing: 0.0625rem;
}

.navbar-nav a {
    font-size: 0.8rem;
}

.navbar-nav a:hover {
    color: rgba(216, 125, 74, 1);
}

.navbar-tablet {
    display: none;
}

@media screen and (max-width: 1000px) {

    .navbar {
        padding: 1rem 2rem;
    }
    
    .container-fluid {
        gap: 0;
        justify-content: space-between;
        align-items: start;
    }

    .navbar-tablet {
        display: flex;
    }

    .container-logo {
        padding-right: 35%;
        padding-left: 5%;
    }

    .navbar-nav {
        display: none;
    }

    .tablet-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        text-align: start;
        top: 3.76rem;
        left: 0;
        background-color: rgb(20, 20, 20);
    }

    .tablet-menu.close {
        display: flex;
    }

    .tablet-menu a {
        padding: 2rem;
    }

    .tablet-menu a:hover {
        background-color: rgba(250, 250, 250, 1);
        color: black;
    }
}

@media screen and (max-width: 590px) {
    .container-fluid {
        justify-content: space-between;
    }

    .container-logo {
        padding-right: 0;
        padding-left: 13%;
    }
}