.youmayalso {
    padding: 8rem 8rem 0 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.youmayalso-h4 {
    margin: 0 0 3rem 0;
}

.youmayalso-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;    
}

.youmayalso-product {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.youmayalso-h5 {
    margin: 2rem 0;
}

.youmayalso-image {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    
    .youmayalso {
        padding: 5rem 2rem 0 2rem;
    }
}

@media screen and (max-width: 800px) {
    .youmayalso-product {
        width: 45%;
    }

}

@media screen and (max-width: 660px) {

    .youmayalso-images {
        flex-direction: column;
    }   

    .youmayalso-product {
        width: 40%;
    }
}

@media screen and (max-width: 480px) {

    .youmayalso-images {
        flex-direction: column;
    }   

    .youmayalso-product {
        width: 100%;
    }
}